h1 {
    margin: 1em 0;
}

main {
    background-color: var(--bg);
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 2em;

    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

h2 {
    margin-bottom: 1.5em;
}

.rounded-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-bottom: 0.5em;
}

.article-info div > p {
    margin-bottom: 1em;
}

.inner > p {
    font-size: large;
    text-align: center;
}

.ht {
    color: var(--text2);
}