<h1>Contenu du panier</h1>
<main>
    <h2>Facture n°{{ invoiceId }} &mdash; {{ numArticles }} articles </h2>

    <div class="inner">
        <ul class="rounded-list">
            <li *ngFor="let article of articles">
                <img
                [src]="
                    getImagePath(
                        article.image,
                        article.article_name
                    )
                "
                alt="Image de l'article : {{
                    article.article_name
                }}"
            />
            <div class="article-info">
                <h3 routerLink="/article/{{ article.article_id }}">
                    {{ article.article_name }}
                </h3>
                <p>
                    {{ article.supplier_name }} &mdash;
                    {{ article.year }}
                </p>
                <div>
                    <p>
                        {{ article.cart_quantity }} article{{ article.cart_quantity > 1 ? "s": "" }} dans le panier
                    </p>
                </div>
            </div>
            </li>
        </ul>
        <p class="ht">
            Prix HT : {{ priceNoTax.toLocaleString() }}&nbsp;€
        </p>
        <p>Prix TTC : {{ priceTax.toLocaleString() }}&nbsp;€</p>
    </div>

</main>
