.main-container {
    padding: 0 2em;
}

main {
    background-color: var(--bg);

    border-radius: 10px;

    margin: 2em auto;
    padding: 1.5em;
    padding-bottom: 3em;

    max-width: 920px;
}

.article-header {
    padding: 1.5em;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

h3 {
    font-size: large;
    color: var(--text2);
    text-align: center;
}

.article-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5em;
}

.image-desc {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    max-width: 400px; /* Toutes nos images font 400x300 */
}

.image-desc p {
    border-left: 5px solid var(--text2);
    border-radius: 5px 0 0 5px;
    padding-left: 0.5em;

    line-height: 1.5em;
    text-align: justify;
}

img {
    border: 1px solid var(--outline);

    object-fit: contain;
    aspect-ratio: 4/3;
}

.cart-stock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

hr {
    background-color: var(--outline);
    height: 0.05em;
    border: none;
    width: 80%;
    margin: 0 auto;
}

.prices {
    font-size: larger;
}

.ht {
    color: var(--text2);
    margin-bottom: 0.5em;
}
