<main>
    <div class="article-header">
        <h1>{{ article.article_name }}</h1>
        <h3>{{ article.supplier_name }} &mdash; {{ article.year }}</h3>
    </div>

    <div class="article-content">
        <div class="image-desc">
            <img [src]="getImagePath(article.image, article.article_name)" alt="Image de présentation du {{ article.article_name }}">
            <p>
                {{ article.description }}
            </p>
        </div>

        <div class="cart-stock">
            <app-star-rating [stars]="article.rating"></app-star-rating>

            <div>
                <p class="ht">
                    Prix HT&nbsp;: {{ +article.price_tax / 1.2 }}&nbsp;€
                </p>
                <p class="ttc">
                    Prix TTC&nbsp;: {{ article.price_tax }}&nbsp;€
                </p>
            </div>

            <p>
                En stock&nbsp;: {{ article.quantity }}
            </p>

            <button (click)="addToCart()">J'ajoute au panier</button>
        </div>
    </div>
</main>
