.rounded-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;

    flex-wrap: wrap;

    border-radius: 10px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.rounded-list img {
    max-width: 150px;

    border-radius: 10px 0 0 10px;
}

.article-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.3em;

    margin: 0 1em;
}

.article-info h3 {
    justify-self: flex-start;
    font-weight: bold;

    transition: 0.5s color;
}

.article-info h3:hover {
    cursor: pointer;
    color: var(--accent);
}

.article-info > p {
    color: var(--text2);
}
