.no-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.no-articles p {
    color: var(--text2);
}

.no-articles img {
    max-width: 320px;
    margin: 2.5em;
}

.deleted span {
    text-decoration-line: line-through;
}