<main>
    <h1>Mon espace</h1>

    <div class="cart-page-elements">
        <section>
            <h2>Mon panier</h2>

            <ng-container *ngIf="cartPrice == -1">
                <p>Vous n'avez pas de panier</p>
                <button (click)="createCart()">J'en crée un</button>
            </ng-container>

            <ng-container *ngIf="cartPrice != -1 && cartArticles.length == 0">
                <p>Votre panier est vide</p>
                <a routerLink="">Je le remplis</a>
            </ng-container>

            <ng-container *ngIf="cartArticles.length > 0">
                <ul>
                    <li
                        *ngFor="let article of cartArticles"
                        (wheel)="
                            handleArticleScroll($event, article.article_id)
                        "
                    >
                        {{ article.article_name }} x{{ article.cart_quantity }}
                        <button
                            (click)="updateArticle(article.article_id, 'add')"
                        >
                            +
                        </button>
                        <button
                            (click)="updateArticle(article.article_id, 'sub')"
                        >
                            -
                        </button>
                    </li>
                </ul>
                <p>Prix HT : {{ cartPriceNoTax }}&nbsp;€</p>
                <p>Prix TTC : {{ cartPrice }}&nbsp;€</p>

                <ng-container *ngIf="updateHappened">
                    <button (click)="updateCart()">
                        Mettre à jour mon panier
                    </button>
                    <br />
                </ng-container>

                <button>Je commande</button>
                <button (click)="deleteCart()">Je supprime mon panier</button>
            </ng-container>
        </section>

        <section>
            <h2>Mes commandes passées</h2>

            <p *ngIf="invoices.length == 0">Chargement en cours...</p>

            <ul>
                <li *ngFor="let invoice of invoices">
                    <a routerLink="/previous-cart/{{ invoice.cart_id }}">
                        <p>
                            Facture n°{{ invoice.invoice_id }},
                            {{ invoice.num_articles || "aucun" }}
                            article<span *ngIf="(invoice.num_articles || 2) > 1"
                                >s</span
                            >.
                        </p>
                        <p>Crée le {{ formatDate(invoice.created) }}</p>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</main>
