<main>
    <p *ngIf="articles.length == 0">
        Chargement en cours...
    </p>

    <a
        routerLink="article/{{ article.article_id }}"
        class="article"
        *ngFor="let article of articles"
    >
        <img
            [src]="getImagePath(article.image, article.article_name)"
            alt="Image de présentation du téléphone"
            loading="lazy"
        />

        <div class="product-info">
            <h2>{{ article.article_name }}</h2>
            <h3>{{ article.supplier_name }} &mdash; {{ article.year }}</h3>

            <p class="desc">
                {{ trunc(article.description) }}
            </p>

            <p class="stock">En stock : {{ article.quantity }}</p>
        </div>

        <div class="product-footer">
            <p>{{ article.price_tax }} €</p>

            <app-star-rating [stars]="article.rating"></app-star-rating>
        </div>
    </a>
</main>
