main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

    gap: 2em;

    padding: 1.5em 3em;
}

@media (max-width: 725px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1.5em 1em;
    }

    .article {
        max-width: 400px;
    }
}

.article {
    height: fit-content;

    border-radius: 10px;

    background-color: var(--bg);
    padding: 1.5em;

    outline: 2px solid var(--bg);
    transition: outline-color 1s;
}

.article:hover {
    outline-color: var(--outline);
}

.article img {
    border-radius: 10px;
}

/* Nom du produit */
.article h2 {
    font-size: large;
    font-weight: bold;
}

/* Fournisseur + année */
.article h3 {
    color: var(--text2);
}

/* Zone du milleu */
.product-info {
    margin: 1em 0;
}

/* La description du produit */
.desc,
.stock {
    margin-top: 0.75em;
    line-clamp: 3;
}

.stock {
    font-style: italic;
}

.product-footer {
    display: flex;
    justify-content: space-between;
}

/* Le prix de l'article */
.product-footer p {
    font-size: large;
    font-weight: bold;
}

.star-container {
    display: flex;
}

.star-container svg {
    width: 20px;
}
