.logo {
    font-size: xx-large;
    font-weight: bolder;
}

.current-user {
    font-size: large;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header,
nav,
.nav-elem-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.nav-elem-container:not(:has(.logo)) {
    border-radius: 5px;
    padding: 3px;
}

.nav-elem-container:hover:not(:has(.logo)) {
    background-color: var(--bg2);
    color: var(--accent);
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    justify-content: space-around;

    padding: 0.5em;

    background-color: var(--bg);
    box-shadow: 0px 9px 20px 0px rgb(0 0 0 / 10%);

    z-index: 99;
}

.content {
    margin-top: 4em;
}

nav {
    gap: 1em;
}

.hamburger {
    display: none;
}

@media (max-width: 835px) {
    nav {
        position: absolute;
        top: 100%;
        width: 100%;

        background-color: var(--bg);
        padding: 1em;

        transform: scaleY(1);
        transform-origin: top;
        transition: 0.5s transform;

        flex-wrap: wrap;
        justify-content: center;
    }

    .hidden {
        transform: scaleY(0);
    }

    .hamburger {
        display: inherit; /* flex */
        cursor: pointer;
    }
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer {
    background-color: var(--bg);
    padding: 1em;
}

footer .logo {
    font-size: x-large;
    margin-bottom: 1em;
}

footer p {
    text-align: center;
}
