h1 {
    font-size: xx-large;
    font-weight: bolder;
}

header, nav, .logo-container, .cart-container, .login-container, .register-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

header {
    justify-content: space-around;

    padding: 0.5em;

    background-color: white;
    box-shadow: 0px 9px 20px 0px rgb(0 0 0 / 4%);
}

nav {
    gap: 1em;
}

svg {
    width: 24px;
}

a {
    color: initial;
    text-decoration: none;
}
/* TODO : partie du haut vers son propre composant */



main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

    gap: 2em;

    padding: 1.5em 3em;
}

@media (max-width: 725px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1.5em 1em;
    }

    .article {
        max-width: 400px;
    }
}

.article {
    height: fit-content;

    border-radius: 10px;

    background-color: white;
    padding: 1.5em;

    outline: 2px solid white;
    transition: outline-color 1s;
}

.article:hover {
    outline-color: lightgray;
}

.article img {
    border-radius: 10px;
}

/* Nom du produit */
.article h2 {
    font-size: large;
    font-weight: bold;
}

/* Fournisseur + année */
.article h3 {
    color: hsl(214 7% 47%);
}

/* Zone du milleu */
.product-info {
    margin: 1em 0;
}

/* La description du produit */
.product-info p {
    margin-top: 0.75em;
    line-clamp: 3;
}

.product-footer {
    display: flex;
    justify-content: space-between;
}

/* Le prix de l'article */
.product-footer p {
    font-size: large;
    font-weight: bold;
}

.star-container {
    display: flex;
}

.star-container svg {
    width: 20px;
}