textarea {
    resize: vertical;
    padding: 1em;
    border-radius: 10px;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.range-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.range-label {
    display: flex;
    gap: 1em;
}

.range-container input {
    accent-color: var(--accent);
}