<div class="full-container">
    <main>
        <h1>Ajouter un article</h1>
    
        <div *ngIf="articleError" class="error">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                />
            </svg>
    
            <span>{{ articleError }}</span>
        </div>
    
        <form [formGroup]="newArticleForm" (ngSubmit)="submit()">
            <div class="input-container">
                <input type="text" required class="input" formControlName="articleName" />
                <span>Nom de l'article</span>
            </div>

            <div class="image-upload">
                <label for="image" class="button" *ngIf="!uploadImageUrl"
                    >Ajouter une image</label
                >
                <input
                    type="file"
                    id="image"
                    accept="image/png, image/jpeg"
                    (change)="showImage($event)"
                />
    
                <img
                    [src]="uploadImageUrl"
                    *ngIf="uploadImageUrl"
                    alt="Image de l'article"
                />
                <button
                    class="button"
                    *ngIf="uploadImageUrl"
                    (click)="removeImage()"
                >
                    Supprimer l'image
                </button>
            </div>
    
            <div class="input-container">
                <input type="text" required class="input" formControlName="supplierName" />
                <span>Nom du fournisseur</span>
            </div>
    
            <div class="input-container">
                <input type="number" required class="input" min="2010" formControlName="year" />
                <span>Date de sortie</span>
            </div>
    
            <div class="textarea-container">
                <label for="desc">Description de l'article</label>
                <textarea id="desc" formControlName="description" required></textarea>
            </div>
    
            <div class="range-container">
                <div class="range-label">
                    <label for="rating">Note de l'article</label>
                    <input
                        type="range"
                        id="rating"
                        min="0"
                        max="5"
                        formControlName="rating"
                        #rating
                        (input)="(rating.value)"
                    />
                </div>
                <app-star-rating [stars]="+rating.value"></app-star-rating>
            </div>
    
            <div class="input-container">
                <input type="number" required class="input" min="0" step="0.01" formControlName="supplierPrice" />
                <span>Prix du fournisseur (€)</span>
            </div>
    
            <div class="input-container">
                <input type="number" required class="input" min="0" formControlName="quantity" />
                <span>Nombre d'articles en stock</span>
            </div>
    
            <input type="submit" value="Mettre en vitrine" class="button" />
        </form>
    </main>
</div>
