.full-container {
    padding: 0 1em;
}

textarea {
    resize: vertical;
    padding: 1em;
    border-radius: 10px;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    min-width: max-content;
    width: 80%;
}

.range-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.range-label {
    display: flex;
    gap: 1em;
}

.range-label label {
    text-align: center;
}

.range-container input {
    accent-color: var(--accent);
}

.image-upload input {
    display: none;
}

.image-upload {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.image-upload img {
    width: 80%;
}
