.stock-quantity-control {
    display: flex;
    align-items: center;
    gap: 0.7em;

    padding: 0 0.5em;
    padding-bottom: 0.5em;
}

.stock-quantity-control input {
    width: 4em;

    border: solid 1.5px var(--outline2);
    border-radius: 5px;
    padding: 0.3em;
}

.stock-quantity-control .button {
    padding: 0.2em;
}

.stock-quantity-control svg {
    width: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 1em;
}