section > .button {
    display: block;
    margin: 0 auto 1em auto;
}

.stock-quantity-control {
    display: flex;
    align-items: center;
    gap: 0.7em;

    padding: 0 0.5em;
    padding-bottom: 0.5em;
}

.stock-quantity-control input {
    width: 4em;

    border: solid 1.5px var(--outline2);
    border-radius: 5px;
    padding: 0.3em;
}

.stock-quantity-control .button {
    padding: 0.2em;
}

.stock-quantity-control .button:hover {
    border-color: var(--error-text);
}

.stock-quantity-control svg {
    width: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.stat h3 {
    font-weight: bold;
    margin-bottom: 1em;
}

.stat p {
    padding: 0.5em;
    padding-top: 0;
}

.stat a {
    padding: 0.5em;
    transition: 0.5s color;
}

.stat a:hover {
    color: var(--accent);
}

.stat span {
    padding: 0.5em;
}
