RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html




## TODO: cette partie est a utiliser que pour le developement
Header always set Access-Control-Allow-Origin http://localhost:4200
Header always set Access-Control-Allow-Headers "*"
Header always set Access-Control-Allow-Credentials true
Header always set Access-Control-Allow-Headers Content-Type
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
# Header always set Access-Control-Max-Age "1000"