<main>
    <h1>Bienvenue !</h1>

    <form>
        <div class="input-container">
            <input type="email" name="" id="" required class="input" />
            <span>Adresse e-mail</span>
        </div>

        <div class="input-container">
            <input type="text" name="" id="" required class="input" />
            <span>Nom</span>
        </div>

        <div class="input-container">
            <input type="email" name="" id="" required class="input" />
            <span>Prénom</span>
        </div>

        <div class="input-container">
            <input type="password" name="" id="" required class="input" />
            <span>Mot de passe</span>
        </div>

        <input type="submit" value="Créer mon compte" class="button" />
    </form>
</main>
