<main>
    <h1>Bienvenue !</h1>

    <div *ngIf="registerError" class="error">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
            />
        </svg>

        <span>{{ registerError }}</span>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="input-container">
            <input type="email" formControlName="email" required class="input" />
            <span>Adresse e-mail</span>
        </div>

        <div class="input-container">
            <input type="text" formControlName="lastName" required class="input" />
            <span>Nom</span>
        </div>

        <div class="input-container">
            <input type="text" formControlName="firstName" required class="input" />
            <span>Prénom</span>
        </div>

        <div class="input-container">
            <input type="password" formControlName="password" required class="input" />
            <span>Mot de passe</span>
        </div>

        <input type="submit" value="Je crée mon compte" class="button" />
    </form>
</main>
